.first-section {
    width: 100%;
    height: 40rem;
    // background: var(--first-about);
    background: linear-gradient(#f3b61f, #510d0a);
    display: flex;
    align-items: center;
    justify-content: center;
    .first-container {
        width: 85%;
        height: 80%;
        display: flex;
        gap: 1rem;
        .first-about:nth-child(1) {
            width: 60%;
            height: 100%;
            .first-about-pic {
                object-fit: cover;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 25px;
                transition: transform .5s ease;
            }
            .first-about-pic:hover {
                transform: scale(1.1);
            }
        }
        .first-about:nth-child(2) {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.2rem;
            .first-about-title {
                background-color: var(--first-about-text-bg);
                border-radius: 15px;
                padding: 5px;
            }
            .first-about-text {
                background-color: var(--first-about-text-bg);
                border-radius: 15px;
                width: 80%;
                font-size: 1.1rem;
                transition: transform .5s ease;
                padding: 10px;
            }
            .first-about-text:hover {
                transform: scale(1.15);
            }
        }
    }
}
@media only screen and (max-width: 391px){
    .first-section {
        width: 100%;
        height: 50rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        .first-container {
            width: 90%;
            height: 90%;
            margin-left: 0;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            .first-about:nth-child(1) {
                width: 100%;
                height: 45%;
                .first-about-pic {
                    border-radius: 10px;
                }
                .first-about-pic:hover {
                    transform: scale(1);
                }
            }
            .first-about:nth-child(2) {
                width: 100%;
                height: 55%;
                display: flex;
                align-items: center;
                justify-content: center;
                .first-about-title {
                    width: 100%;
                    padding-left: 55px;
                }
                .first-about-text {
                    width: 100%;
                }
                .first-about-text:hover {
                    transform: scale(1);
                }
            }
        }
    }
}