/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --green: #3e5a1d;
  --brown: #5B2202;
  --black: black;
  --white: white;
  --header: #3e5a1d;
  --headerlink: #5B2202;
  --header-border: black;
  --title: #5B2202;
  --hero-bg: #3e5a1d;
  --social-container: #5B2202;
  --footer: #3e5a1d;
  --footer-component: #5B2202;
  --footer-text: white;
  --first: #5B2202;
  --second: #5B2202;
  --third: #5B2202;
  --first-about: #5B2202;
  --first-about-text-bg: #3e5a1d;
  --second-about: #5B2202;
  --second-about-text-bg: #3e5a1d;
  --third-about: #5B2202;
  --third-about-text-bg: #3e5a1d;
  --text-container: #5B2202;
  --support-text: white;
  --contact: #5B2202;
  --contact-block: #3e5a1d;
  --mail-text: white;
  --mail: white;
  --phone-text: white;
  --phone: white;
  --linkedin-text: white;
  --linkedin: white;
  --discord-text: white;
  --discord: white;
  --page-menu: #3e5a1d;
}

.app {
  width: 100vw;
  max-width: 100%;
  overflow: visible;
  background-color: var(--green);
}

.header {
  width: 100%;
  height: 5rem;
  background-color: var(--header);
  border-bottom: 0.3rem solid var(--header-border);
  z-index: 1;
}
.header .header-container {
  width: 80%;
  height: 100%;
  display: flex;
  margin: auto;
  background-color: var(--header);
  justify-content: flex-end;
}
.header .header-container .logo {
  height: 100%;
  width: 10%;
  margin-right: auto;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
}
.header .header-container .logo .logo-img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 80%;
  height: 80%;
}
.header .header-container .homepage-button {
  height: 100%;
  width: 15%;
  background: var(--header);
  border: 0;
  font-weight: bold;
}
.header .header-container .homepage-button .homepage-button-link {
  text-decoration: none;
  color: white;
}
.header .header-container .homepage-button .homepage-button-link:hover {
  color: var(--headerlink);
  transition: 0.2s color ease-in-out;
}
.header .header-container .gallery-button {
  height: 100%;
  width: 10%;
  background: var(--header);
  border: 0;
  font-weight: bold;
}
.header .header-container .gallery-button .gallery-button-link {
  text-decoration: none;
  color: white;
}
.header .header-container .gallery-button .gallery-button-link:hover {
  color: var(--headerlink);
  transition: 0.2s color ease-in-out;
}
.header .header-container .about-button {
  height: 100%;
  width: 15%;
  background: var(--header);
  border: 0;
  font-weight: bold;
}
.header .header-container .about-button .about-button-link {
  text-decoration: none;
  color: white;
}
.header .header-container .about-button .about-button-link:hover {
  color: var(--headerlink);
  transition: 0.2s color ease-in-out;
}
.header .header-container .contact-button {
  height: 100%;
  width: 10%;
  background: var(--header);
  border: 0;
  font-weight: bold;
}
.header .header-container .contact-button .contact-button-link {
  text-decoration: none;
  color: white;
}
.header .header-container .contact-button .contact-button-link:hover {
  color: var(--headerlink);
  transition: 0.2s color ease-in-out;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 391px) {
  .header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .header .header-container {
    width: 98%;
    height: 70%;
    display: flex;
    justify-content: space-between;
  }
  .header .header-container .logo {
    height: 100%;
    width: 20%;
    margin: 0;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header-container .logo .logo-img {
    -o-object-fit: fill;
       object-fit: fill;
    height: 90%;
    width: 90%;
  }
  .header .header-container .homepage-button {
    width: 20%;
    height: 100%;
    display: none;
  }
  .header .header-container .homepage-button .homepage-button-link {
    font-size: 0.8rem;
  }
  .header .header-container .gallery-button {
    width: 20%;
    height: 100%;
    display: none;
  }
  .header .header-container .gallery-button .gallery-button-link {
    font-size: 0.8rem;
  }
  .header .header-container .about-button {
    width: 20%;
    height: 100%;
    display: none;
  }
  .header .header-container .about-button .about-button-link {
    font-size: 0.8rem;
  }
  .header .header-container .contact-button {
    width: 20%;
    height: 100%;
    display: none;
  }
  .header .header-container .contact-button .contact-button-link {
    font-size: 0.8rem;
  }
  .header .header-container .page-menu {
    height: 100%;
    display: block;
    margin-right: 1rem;
    background-color: var(--page-menu);
  }
}
.first-section {
  width: 100%;
  height: 40rem;
  background: var(--first-about);
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-section .first-container {
  width: 85%;
  height: 80%;
  display: flex;
  gap: 1rem;
}
.first-section .first-container .first-about:nth-child(1) {
  width: 60%;
  height: 100%;
}
.first-section .first-container .first-about:nth-child(1) .first-about-pic {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: transform 0.5s ease;
}
.first-section .first-container .first-about:nth-child(1) .first-about-pic:hover {
  transform: scale(1.1);
}
.first-section .first-container .first-about:nth-child(2) {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.first-section .first-container .first-about:nth-child(2) .first-about-title {
  background-color: var(--first-about-text-bg);
  border-radius: 15px;
}
.first-section .first-container .first-about:nth-child(2) .first-about-text {
  background-color: var(--first-about-text-bg);
  border-radius: 15px;
  width: 80%;
  font-size: 1.1rem;
  transition: transform 0.5s ease;
}
.first-section .first-container .first-about:nth-child(2) .first-about-text:hover {
  transform: scale(1.15);
}

@media only screen and (max-width: 391px) {
  .first-section {
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .first-section .first-container {
    width: 90%;
    height: 90%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .first-section .first-container .first-about:nth-child(1) {
    width: 100%;
    height: 45%;
  }
  .first-section .first-container .first-about:nth-child(2) {
    width: 100%;
    height: 55%;
  }
  .first-section .first-container .first-about:nth-child(2) .first-about-text {
    width: 90%;
  }
}
.second-section {
  width: 100%;
  height: 40rem;
  background: var(--second-about);
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-section .second-container {
  width: 85%;
  height: 80%;
  display: flex;
  gap: 1rem;
}
.second-section .second-container .second-about:nth-child(1) {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.second-section .second-container .second-about:nth-child(1) .second-about-title {
  background-color: var(--second-about-text-bg);
  border-radius: 15px;
}
.second-section .second-container .second-about:nth-child(1) .second-about-text {
  background-color: var(--second-about-text-bg);
  border-radius: 15px;
  width: 80%;
  font-size: 1.1rem;
  transition: transform 0.5s ease;
}
.second-section .second-container .second-about:nth-child(1) .second-about-text:hover {
  transform: scale(1.15);
}
.second-section .second-container .second-about:nth-child(2) {
  width: 60%;
  height: 100%;
}
.second-section .second-container .second-about:nth-child(2) .second-about-pic {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: transform 0.5s ease;
}
.second-section .second-container .second-about:nth-child(2) .second-about-pic:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 391px) {
  .second-section {
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .second-section .second-container {
    width: 90%;
    height: 90%;
    margin-left: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
  .second-section .second-container .second-about:nth-child(1) {
    width: 100%;
    height: 45%;
  }
  .second-section .second-container .second-about:nth-child(2) {
    width: 100%;
    height: 55%;
  }
  .second-section .second-container .second-about:nth-child(2) .second-about-text {
    width: 90%;
  }
}
.third-section {
  width: 100%;
  height: 40rem;
  background: var(--third-about);
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-section .third-container {
  width: 85%;
  height: 80%;
  display: flex;
  gap: 1rem;
}
.third-section .third-container .third-about:nth-child(1) {
  width: 60%;
  height: 100%;
}
.third-section .third-container .third-about:nth-child(1) .third-about-pic {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: transform 0.5s ease;
}
.third-section .third-container .third-about:nth-child(1) .third-about-pic:hover {
  transform: scale(1.1);
}
.third-section .third-container .third-about:nth-child(2) {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.third-section .third-container .third-about:nth-child(2) .third-about-title {
  background-color: var(--third-about-text-bg);
  border-radius: 15px;
}
.third-section .third-container .third-about:nth-child(2) .third-about-text {
  background-color: var(--third-about-text-bg);
  border-radius: 15px;
  width: 80%;
  font-size: 1.1rem;
  transition: transform 0.5s ease;
}
.third-section .third-container .third-about:nth-child(2) .third-about-text:hover {
  transform: scale(1.15);
}

@media only screen and (max-width: 391px) {
  .third-section {
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    display: none;
  }
  .third-section .third-container {
    width: 90%;
    height: 90%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
}
.footer {
  width: 100%;
  height: 20rem;
  background: var(--footer);
}
.footer .footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.footer .footer-container .footer-section:nth-child(1) {
  width: 30%;
  height: 30%;
  background-color: var(--footer-component);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 25px;
}
.footer .footer-container .footer-section:nth-child(1) .fa {
  font-size: 45px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.footer .footer-container .footer-section:nth-child(1) .fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  color: white;
}
.footer .footer-container .footer-section:nth-child(1) .fa-facebook {
  background: #3B5998;
  color: white;
}
.footer .footer-container .footer-section:nth-child(1) .fa-twitter {
  background: #55ACEE;
  color: white;
}
.footer .footer-container .footer-section:nth-child(1) .fa-youtube {
  background: red;
  color: white;
}
.footer .footer-container .footer-section:nth-child(1) .fa-linkedin {
  background: #0e76a8;
  color: white;
}
.footer .footer-container .footer-section:nth-child(2) {
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.footer .footer-container .footer-section:nth-child(2) .footer-section-two-logo {
  background-color: var(--footer-component);
  width: 30%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.footer .footer-container .footer-section:nth-child(2) .footer-section-two-copyright {
  margin-top: 1rem;
  background-color: var(--footer-component);
  width: 75%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.footer .footer-container .footer-section:nth-child(2) .footer-section-two-copyright .footer-copyright-text {
  color: var(--footer-text);
}
.footer .footer-container .footer-section:nth-child(3) {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(1) {
  width: 75%;
  height: 30%;
  background-color: var(--footer-component);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(1) .ft-st-two-privacy {
  color: var(--footer-text);
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(2) {
  width: 75%;
  height: 30%;
  background-color: var(--footer-component);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(2) .ft-st-two-cookies {
  color: var(--footer-text);
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(3) {
  width: 75%;
  height: 30%;
  background-color: var(--footer-component);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(3) .ft-st-two-legal {
  color: var(--footer-text);
}

@media only screen and (max-width: 391px) {
  .footer {
    width: 100%;
    height: 10rem;
    background: var(--footer);
  }
  .footer .footer-container {
    gap: 1rem;
  }
  .footer .footer-container .footer-section:nth-child(1) {
    display: none;
  }
  .footer .footer-container .footer-section:nth-child(2) {
    width: 50%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer .footer-container .footer-section:nth-child(2) .footer-section-two-logo {
    background-color: var(--footer-component);
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  .footer .footer-container .footer-section:nth-child(2) .footer-section-two-logo .footer-section-two-logo-img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 95%;
    height: 50%;
    margin: 0;
  }
  .footer .footer-container .footer-section:nth-child(2) .footer-section-two-copyright {
    width: 100%;
    height: 35%;
    border-radius: 20px;
  }
  .footer .footer-container .footer-section:nth-child(2) .footer-section-two-copyright .footer-copyright-text {
    font-size: 1.08rem;
  }
  .footer .footer-container .footer-section:nth-child(3) {
    height: 85%;
    width: 45%;
  }
  .footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(1) {
    width: 95%;
    border-radius: 20px;
  }
}/*# sourceMappingURL=style.css.map */