.header {
    width: 100%;
    height: 5rem;
    background-color: var(--header);
    // background: #3e5a1d;
    border-bottom: 0.3rem solid var(--header-border);
    z-index: 1;
    .header-container {
        width: 80%;
        height: 100%;
        display: flex;
        margin: auto;
        background-color: var(--header);
        justify-content: flex-end;
        .logo {
            height: 100%;
            width: 10%;
            margin-right: auto;
            margin-top: 0.5rem;
            justify-content: center;
            align-items: center;
            .logo-img {
                object-fit: fill;
                width: 80%;
                height: 80%;
            }
        }
        .homepage-button {
            height: 100%;
            width: 15%;
            background: var(--header);
            border: 0;
            font-weight: bold;
            .homepage-button-link {
                text-decoration:none;
                color: white;
            }
            .homepage-button-link:hover {
                color: var(--headerlink);
                transition: 0.2s color ease-in-out;
                border: 2px solid var(--brown2);
                border-radius: 25px;
                padding: 5px;
            }
        }
        // .homepage-button:hover {
        //     // background-color: #7f1d1d;
        //     background: #294805;
        //     cursor:pointer;
        // }
        .gallery-button {
            height: 100%;
            width: 10%;
            background: var(--header);
            border: 0;
            font-weight: bold;
            .gallery-button-link {
                text-decoration:none;
                color: white;
            }
            .gallery-button-link:hover {
                color: var(--headerlink);
                transition: 0.2s color ease-in-out;
                border: 2px solid var(--brown2);
                border-radius: 25px;
                padding: 5px;
            }
        }
        .about-button {
            height: 100%;
            width: 15%;
            background: var(--header);
            border: 0;
            font-weight: bold;
            .about-button-link {
                text-decoration:none;
                color: white;
            }
            .about-button-link:hover {
                color: var(--headerlink);
                transition: 0.2s color ease-in-out;
                border: 2px solid var(--brown2);
                border-radius: 25px;
                padding: 5px;
            }
        }
        .contact-button {
            height: 100%;
            width: 10%;
            background: var(--header);
            border: 0;
            font-weight: bold;
            .contact-button-link {
                text-decoration:none;
                color: white;
            }
            .contact-button-link:hover {
                color: var(--headerlink);
                transition: 0.2s color ease-in-out;
                border: 2px solid var(--brown2);
                border-radius: 25px;
                padding: 5px;
            }
        }
        .page-menu {
            display: none;
        }
    }
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
@media only screen and (max-width: 391px){
    .header {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        .header-container {
            width: 98%;
            height: 70%;
            // background: green;
            display: flex;
            justify-content: space-between;
            // justify-content: center;
            .logo {
                height: 100%;
                width: 20%;
                margin: 0;
                margin-left: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                .logo-img {
                    object-fit: fill;
                    height: 90%;
                    width: 90%;
                }
            }
            .homepage-button {
                width: 20%;
                height: 100%;
                display: none;
                .homepage-button-link {
                    font-size: 0.8rem;
                }
            }
            .gallery-button {
                width: 20%;
                height: 100%; 
                display: none;
                .gallery-button-link {
                    font-size: 0.8rem;
                }
            }
            .about-button {
                width: 20%;
                height: 100%;
                display: none;
                .about-button-link {
                    font-size: 0.8rem;
                }
            }
            .contact-button {
                width: 20%;
                height: 100%;
                display: none;
                .contact-button-link {
                    font-size: 0.8rem;
                }
            }
            .page-menu {
                height: 100%;
                // width: 10%;
                display: block;
                margin-right: 1rem;
                background-color: var(--page-menu);
            }
        }
    }
}
