.header {
    width: 100%;
    height: 5rem;
    background-color: black;
    .header-container {
        width: 80%;
        height: 100%;
        display: flex;
        margin: auto;
        background: green;
    }
}
@media only screen and (max-width: 391px){
    .header {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        .header-container {
            width: 85%;
            height: 70%;
            background: green;
        }
    }
}
