.info {
    width: 100%;
    height: 40rem;
    background: linear-gradient(#f3b61f, #6da34d);
    .info-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        .text-collumn:nth-child(1) {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            .text-collumn-left:nth-child(1) {
                width: 70%;
                text-align: center;
                padding-top: 2rem;
                .text-collumn-left-p {
                    font-size: 1.1rem;
                }
            }
            .text-collumn-left:nth-child(2) {
                width: 70%;
                text-align: center;
                padding-top: 2rem;
                .text-collumn-left-p {
                    font-size: 1.1rem;
                }
            }
            .text-collumn-left:nth-child(3) {
                width: 70%;
                text-align: center;
                padding-top: 2rem;
                .text-collumn-left-p {
                    font-size: 1.1rem;
                }
            }
        }
        .text-collumn:nth-child(2) {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .text-collumn-right:nth-child(1) {
                width: 70%;
                text-align: center;
                .text-collumn-right-p {
                    font-size: 1.1rem;
                }
            }
            .text-collumn-right:nth-child(2) {
                width: 70%;
                text-align: center;
                padding-bottom: 4rem;
                .text-collumn-right-p {
                    font-size: 1.1rem;
                }
            }
            .text-collumn-right:nth-child(3) {
                width: 70%;
                text-align: center;
                padding-bottom: 5rem;
                .text-collumn-right-p {
                    font-size: 1.1rem;
                }
            }
        }
    }
}
@media only screen and (max-width: 391px){
.info {
    .info-container {
        .text-collumn:nth-child(1) {
            justify-content: space-evenly;
            .text-collumn-left:nth-child(1) {
                width: 100%;
                padding-top: 0;
                // text-align: ;
                .text-collumn-left-p {
                    font-size: 1rem;
                    padding-left: 0.5rem;
                }
            }
            .text-collumn-left:nth-child(2) {
                width: 100%;
                padding-top: 0;
                // text-align: ;
                .text-collumn-left-p {
                    font-size: 1rem;
                    padding-left: 0.5rem;
                }
            }
            .text-collumn-left:nth-child(3) {
                width: 100%;
                padding-top: 0;
                // text-align: ;
                .text-collumn-left-p {
                    font-size: 1rem;
                    padding-left: 0.5rem;
                }
            }
        }
        .text-collumn:nth-child(2) {
            justify-content: space-evenly;
            .text-collumn-right:nth-child(1) {
                justify-self: unset;
                .text-collumn-right-p {
                    font-size: 1rem;
                    // padding-left: 0.5rem;
                }
            }
            .text-collumn-right:nth-child(2) {
                justify-self: unset;
                padding-bottom: 0;
                .text-collumn-right-p {
                    font-size: 1rem;
                    // padding-left: 0.5rem;
                }
            }
            .text-collumn-right:nth-child(3) {
                justify-self: unset;
                padding-bottom: 0;
                .text-collumn-right-p {
                    font-size: 1rem;
                    // padding-left: 0.5rem;
                }
            }
        }
    }
}
}