.map {
    width: 100%;
    height: 40rem;
    // margin-bottom: 5rem;
    padding-bottom: 3rem;
    background: linear-gradient(#f3b61f, #6da34d);
    .map-container {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        .map-div {
            width: 80%;
            height: 100%;
            .map-img {
                width: 100%;
                height: 100%;
                object-fit: fill;
                border-radius: 15px;
            }
        }
    }
}
@media only screen and (max-width: 391px) {
    .map {
        height: 25rem;
        .map-container {
            .map-div {
                width: 100%;
                .map-img {
                    border-radius: 0;
                    object-fit: cover;
                }
            }
        }
    }
}