.social {
    width: 100%;
    height: 10rem;
    background: green;
    margin-bottom: 4rem;
    .social-container {
        width: 80%;
        height: 100%;
        background: brown;
        margin: auto;
    }
}