.social {
    width: 100%;
    height: 10rem;
    background: green;
    margin-bottom: 4rem;
    .social-container {
        width: 80%;
        height: 100%;
        background: brown;
        margin: auto;
    }
}
@media only screen and (max-width: 391px){
    .social {
        width: 100%;
        height: 6rem;
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        .social-container {
            width: 85%;
            height: 60%;
        }
    }
}