/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --green: #3e5a1d;
  --green2: #6da34d;
  --brown: #5B2202;
  --brown2: #510d0a;
  --black: black;
  --black2: #001a23;
  --white: white;
  --white2: #f4f2f3;
  --yellow: #f3b61f;
  --header: #6da34d;
  --headerlink: #510d0a;
  --headerlink-hover: #510d0a;
  --header-border: #f3b61f;
  --page-menu: #6da34d;
  --title: #510d0a;
  --title-hover: #f3b61f;
  --title-text: white;
  --hero-bg: #f3b61f;
  --social-container: #510d0a;
  --footer: #f3b61f;
  --footer-component: #510d0a;
  --footer-text: white;
  --footer-text-hover: #6da34d;
  --footer-border: #6da34d;
  --first: #510d0a;
  --first-gradient-one: #510d0a;
  --first-gradient-two: #f3b61f;
  --second: #510d0a;
  --second-gradient-one: #510d0a;
  --second-gradient-two: #f3b61f;
  --third: #510d0a;
  --third-gradient-one: #510d0a;
  --third-gradient-two: #f3b61f;
  --first-about: #510d0a;
  --first-about-text-bg: #6da34d;
  --second-about: #510d0a;
  --second-about-text-bg: #6da34d;
  --third-about: #510d0a;
  --third-about-text-bg: #6da34d;
  --text-container: #510d0a;
  --support-text: white;
  --support-hover: #f3b61f;
  --contact: #510d0a;
  --contact-block: #6da34d;
  --mail-text: white;
  --mail: white;
  --phone-text: white;
  --phone: white;
  --linkedin-text: white;
  --linkedin: white;
  --discord-text: white;
  --discord: white;
}

.app {
  width: 100vw;
  max-width: 100%;
  overflow: visible;
  background-color: var(--yellow);
}

.header {
  width: 100%;
  height: 5rem;
  background-color: var(--header);
  border-bottom: 0.3rem solid var(--header-border);
  z-index: 1;
}
.header .header-container {
  width: 80%;
  height: 100%;
  display: flex;
  margin: auto;
  background-color: var(--header);
  justify-content: flex-end;
}
.header .header-container .logo {
  height: 100%;
  width: 10%;
  margin-right: auto;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
}
.header .header-container .logo .logo-img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 80%;
  height: 80%;
}
.header .header-container .homepage-button {
  height: 100%;
  width: 15%;
  background: var(--header);
  border: 0;
  font-weight: bold;
}
.header .header-container .homepage-button .homepage-button-link {
  text-decoration: none;
  color: white;
}
.header .header-container .homepage-button .homepage-button-link:hover {
  color: var(--headerlink);
  transition: 0.2s color ease-in-out;
  border: 2px solid var(--headerlink-hover);
  border-radius: 25px;
  padding: 5px;
}
.header .header-container .gallery-button {
  height: 100%;
  width: 10%;
  background: var(--header);
  border: 0;
  font-weight: bold;
}
.header .header-container .gallery-button .gallery-button-link {
  text-decoration: none;
  color: white;
}
.header .header-container .gallery-button .gallery-button-link:hover {
  color: var(--headerlink);
  transition: 0.2s color ease-in-out;
  border: 2px solid var(--headerlink-hover);
  border-radius: 25px;
  padding: 5px;
}
.header .header-container .about-button {
  height: 100%;
  width: 15%;
  background: var(--header);
  border: 0;
  font-weight: bold;
}
.header .header-container .about-button .about-button-link {
  text-decoration: none;
  color: white;
}
.header .header-container .about-button .about-button-link:hover {
  color: var(--headerlink);
  transition: 0.2s color ease-in-out;
  border: 2px solid var(--headerlink-hover);
  border-radius: 25px;
  padding: 5px;
}
.header .header-container .contact-button {
  height: 100%;
  width: 10%;
  background: var(--header);
  border: 0;
  font-weight: bold;
}
.header .header-container .contact-button .contact-button-link {
  text-decoration: none;
  color: white;
}
.header .header-container .contact-button .contact-button-link:hover {
  color: var(--headerlink);
  transition: 0.2s color ease-in-out;
  border: 2px solid var(--headerlink-hover);
  border-radius: 25px;
  padding: 5px;
}
.header .header-container .page-menu {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 391px) {
  .header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .header .header-container {
    width: 98%;
    height: 70%;
    display: flex;
    justify-content: space-between;
  }
  .header .header-container .logo {
    height: 100%;
    width: 20%;
    margin: 0;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header-container .logo .logo-img {
    -o-object-fit: fill;
       object-fit: fill;
    height: 90%;
    width: 90%;
  }
  .header .header-container .homepage-button {
    width: 20%;
    height: 100%;
    display: none;
  }
  .header .header-container .homepage-button .homepage-button-link {
    font-size: 0.8rem;
  }
  .header .header-container .gallery-button {
    width: 20%;
    height: 100%;
    display: none;
  }
  .header .header-container .gallery-button .gallery-button-link {
    font-size: 0.8rem;
  }
  .header .header-container .about-button {
    width: 20%;
    height: 100%;
    display: none;
  }
  .header .header-container .about-button .about-button-link {
    font-size: 0.8rem;
  }
  .header .header-container .contact-button {
    width: 20%;
    height: 100%;
    display: none;
  }
  .header .header-container .contact-button .contact-button-link {
    font-size: 0.8rem;
  }
  .header .header-container .page-menu {
    height: 100%;
    display: block;
    margin-right: 1rem;
    background-color: var(--page-menu);
  }
}
.title {
  width: 100%;
  height: 45rem;
  background: var(--title);
  display: flex;
  align-items: center;
  justify-content: center;
}
.title .title-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.title .title-container {
  width: 55%;
  height: 10%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--title);
  border-radius: 25px;
  transition: transform 0.5s ease;
}
.title .title-container .title-text {
  font-size: 4rem;
  color: var(--title-text);
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
}
.title .title-container:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 391px) {
  .title {
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .title .title-container {
    width: 60%;
    height: 15%;
    background: var(--title);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title .title-container .title-text {
    width: 90%;
    font-size: 2rem;
  }
  .title .title-container:hover {
    transform: scale(1);
  }
}
.hero {
  width: 100%;
  height: 35rem;
  background: var(--hero-bg);
  margin-bottom: 4rem;
}
.hero .hero-container {
  width: 90%;
  height: 100%;
  display: flex;
  gap: 3rem;
}
.hero .hero-container .hero-pic:nth-child(1) {
  width: 45%;
  height: 100%;
}
.hero .hero-container .hero-pic:nth-child(1) .hero-pic-one {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: transform 0.5s ease;
}
.hero .hero-container .hero-pic:nth-child(1) .hero-pic-one:hover {
  transform: scale(1.07);
}
.hero .hero-container .hero-pic:nth-child(2) {
  width: 65%;
  height: 100%;
}
.hero .hero-container .hero-pic:nth-child(2) .hero-pic-two {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: transform 0.5s ease;
}
.hero .hero-container .hero-pic:nth-child(2) .hero-pic-two:hover {
  transform: scale(1.07);
}

@media only screen and (max-width: 391px) {
  .hero {
    width: 100%;
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
  }
  .hero .hero-container {
    width: 100%;
    height: 90%;
    gap: 1rem;
    flex-direction: column;
  }
  .hero .hero-container .hero-pic:nth-child(1) {
    height: 50%;
    width: 100%;
  }
  .hero .hero-container .hero-pic:nth-child(1) .hero-pic-one {
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .hero .hero-container .hero-pic:nth-child(2) {
    height: 50%;
    width: 100%;
  }
  .hero .hero-container .hero-pic:nth-child(2) .hero-pic-two {
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
.social {
  width: 100%;
  height: 10rem;
  margin-bottom: 4rem;
}
.social .social-container {
  width: 80%;
  height: 100%;
  background: var(--social-container);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  border-radius: 25px;
}
.social .social-container .fa {
  font-size: 90px;
  width: 100px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: transform 0.5s ease;
}
.social .social-container .fa:hover {
  transform: scale(1.2);
}
.social .social-container .fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  color: white;
}
.social .social-container .fa-facebook {
  background: #3B5998;
  color: white;
}
.social .social-container .fa-twitter {
  background: #55ACEE;
  color: white;
}
.social .social-container .fa-youtube {
  background: red;
  color: white;
}
.social .social-container .fa-linkedin {
  background: #0e76a8;
  color: white;
}

@media only screen and (max-width: 391px) {
  .social {
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .social .social-container {
    width: 95%;
    height: 60%;
    gap: 0.5rem;
    border-radius: 20px;
  }
  .social .social-container .fa {
    font-size: 3rem;
    width: 4rem;
    height: 3.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
}
.content {
  width: 100%;
  height: 40rem;
  background: linear-gradient(#6da34d, #f3b61f);
  margin-bottom: 4rem;
}
.content .content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.content .content-container .content-text-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.content .content-container .content-text-container .content-title .content-title-text {
  font-size: 2rem;
}
.content .content-container .content-text-container .content-text {
  width: 70%;
  text-align: center;
}
.content .content-container .content-pic {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.content .content-container .content-pic .picture-link {
  transition: transform ease 1s;
  overflow: hidden;
}
.content .content-container .content-pic .picture-link .content-picture {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: transform ease 1s;
}
.content .content-container .content-pic .picture-link:hover .content-picture {
  transform: scale(1.1);
}

@media only screen and (max-width: 391px) {
  .content {
    display: none;
  }
}
.footer {
  width: 100%;
  height: 20rem;
  background: var(--footer);
  border-top: 0.3rem solid var(--footer-border);
}
.footer .footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.footer .footer-container .footer-section:nth-child(1) {
  width: 30%;
  height: 30%;
  background-color: var(--footer-component);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 25px;
}
.footer .footer-container .footer-section:nth-child(1) .fa {
  font-size: 45px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: transform 0.5s ease;
}
.footer .footer-container .footer-section:nth-child(1) .fa:hover {
  transform: scale(1.2);
}
.footer .footer-container .footer-section:nth-child(1) .fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  color: white;
}
.footer .footer-container .footer-section:nth-child(1) .fa-facebook {
  background: #3B5998;
  color: white;
}
.footer .footer-container .footer-section:nth-child(1) .fa-twitter {
  background: #55ACEE;
  color: white;
}
.footer .footer-container .footer-section:nth-child(1) .fa-youtube {
  background: red;
  color: white;
}
.footer .footer-container .footer-section:nth-child(1) .fa-linkedin {
  background: #0e76a8;
  color: white;
}
.footer .footer-container .footer-section:nth-child(2) {
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.footer .footer-container .footer-section:nth-child(2) .footer-section-two-logo {
  background-color: var(--footer-component);
  width: 30%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  transition: transform 0.5s ease;
}
.footer .footer-container .footer-section:nth-child(2) .footer-section-two-logo:hover {
  transform: scale(1.2);
}
.footer .footer-container .footer-section:nth-child(2) .footer-section-two-copyright {
  margin-top: 1rem;
  background-color: var(--footer-component);
  width: 75%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.footer .footer-container .footer-section:nth-child(2) .footer-section-two-copyright .footer-copyright-text {
  color: var(--footer-text);
}
.footer .footer-container .footer-section:nth-child(2) .footer-section-two-copyright .footer-copyright-text-iphone {
  display: none;
}
.footer .footer-container .footer-section:nth-child(3) {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(1) {
  width: 75%;
  height: 30%;
  background-color: var(--footer-component);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 0;
  font-weight: bold;
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(1) .ft-st-two-privacy {
  color: var(--footer-text);
  text-decoration: none;
  font-size: 2rem;
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(1) .ft-st-two-privacy:hover {
  color: var(--footer-text-hover);
  transition: 0.2s color ease-in-out;
  border: 2px solid var(--green2);
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(2) {
  width: 75%;
  height: 30%;
  background-color: var(--footer-component);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 0;
  font-weight: bold;
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(2) .ft-st-two-cookies {
  color: var(--footer-text);
  text-decoration: none;
  font-size: 2rem;
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(2) .ft-st-two-cookies:hover {
  color: var(--footer-text-hover);
  transition: 0.2s color ease-in-out;
  border: 2px solid var(--green2);
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(3) {
  width: 75%;
  height: 30%;
  background-color: var(--footer-component);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 0;
  font-weight: bold;
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(3) .ft-st-two-legal {
  color: var(--footer-text);
  text-decoration: none;
  font-size: 2rem;
}
.footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(3) .ft-st-two-legal:hover {
  color: var(--footer-text-hover);
  transition: 0.2s color ease-in-out;
  border: 2px solid var(--green2);
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 391px) {
  .footer {
    width: 100%;
    height: 15rem;
    background: var(--footer);
  }
  .footer .footer-container {
    gap: 1rem;
  }
  .footer .footer-container .footer-section:nth-child(1) {
    display: none;
  }
  .footer .footer-container .footer-section:nth-child(2) {
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer .footer-container .footer-section:nth-child(2) .footer-section-two-logo {
    background-color: var(--footer-component);
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  .footer .footer-container .footer-section:nth-child(2) .footer-section-two-logo .footer-section-two-logo-img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 95%;
    height: 50%;
    margin: 0;
    padding: 5px;
  }
  .footer .footer-container .footer-section:nth-child(2) .footer-section-two-copyright {
    width: 100%;
    height: 35%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .footer-container .footer-section:nth-child(2) .footer-section-two-copyright .footer-copyright-text {
    display: none;
  }
  .footer .footer-container .footer-section:nth-child(2) .footer-section-two-copyright .footer-copyright-text-iphone {
    display: block;
    font-size: 1.2rem;
    color: white;
    padding: 10px;
  }
  .footer .footer-container .footer-section:nth-child(3) {
    height: 85%;
    width: 45%;
  }
  .footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(1) {
    width: 95%;
    border-radius: 20px;
  }
  .footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(1) .ft-st-two-privacy {
    font-size: 1.5rem;
  }
  .footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(2) {
    width: 95%;
    border-radius: 20px;
  }
  .footer .footer-container .footer-section:nth-child(3) .footer-section-three-block:nth-child(3) {
    width: 95%;
    border-radius: 20px;
  }
}/*# sourceMappingURL=style.css.map */