.footer {
    width: 100%;
    height: 20rem;
    background: var(--footer);
    border-top: 0.3rem solid var(--footer-border);
    .footer-container {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        .footer-section:nth-child(1) {
            width: 30%;
            height: 30%;
            background-color: var(--footer-component);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            border-radius: 25px;
            .fa {
                font-size: 45px;
                width: 50px;
                height: 50px;
                text-align: center;
                text-decoration: none;
                border-radius: 50%;
                transition: transform .5s ease;
            }
            .fa:hover {
                transform: scale(1.2);
            }
            .fa-instagram {
                background: #d6249f;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                box-shadow: 0px 3px 10px rgba(0,0,0,.25);
                color: white;
            }
            .fa-facebook {
                background: #3B5998;
                color: white;
            }
            .fa-twitter {
                background: #55ACEE;
                color: white;
            }
            .fa-youtube {
                background: red;
                color: white;
            }
            .fa-linkedin {
                background: #0e76a8;
                color: white;
            }
        }
        .footer-section:nth-child(2) {
            width: 30%;
            height: 70%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            .footer-section-two-logo {
                background-color: var(--footer-component);
                width: 30%;
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                transition: transform .5s ease;
            }
            .footer-section-two-logo:hover {
                transform: scale(1.2);
            }
            .footer-section-two-copyright {
                margin-top: 1rem;
                background-color: var(--footer-component);
                width: 75%;
                height: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                .footer-copyright-text {
                    color: var(--footer-text);
                }
            }
        }
        .footer-section:nth-child(3) {
            width: 30%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            .footer-section-three-block:nth-child(1) {
                width: 75%;
                height: 30%;
                background-color: var(--footer-component);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                border: 0;
                font-weight: bold;
                .ft-st-two-privacy {
                    color: var(--footer-text);
                    text-decoration:none;
                    font-size: 2rem;
                }
                .ft-st-two-privacy:hover {
                    color: var(--footer-text-hover);
                    transition: 0.2s color ease-in-out;
                    border: 2px solid var(--green2);
                    border-radius: 25px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            .footer-section-three-block:nth-child(2) {
                width: 75%;
                height: 30%;
                background-color: var(--footer-component);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                border: 0;
                font-weight: bold;
                .ft-st-two-cookies {
                    color: var(--footer-text);
                    text-decoration:none;
                    font-size: 2rem;
                }
                .ft-st-two-cookies:hover {
                    color: var(--footer-text-hover);
                    transition: 0.2s color ease-in-out;
                    border: 2px solid var(--green2);
                    border-radius: 25px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            .footer-section-three-block:nth-child(3) {
                width: 75%;
                height: 30%;
                background-color: var(--footer-component);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                border: 0;
                font-weight: bold;
                .ft-st-two-legal {
                    color: var(--footer-text);
                    text-decoration:none;
                    font-size: 2rem;
                }
                .ft-st-two-legal:hover {
                    color: var(--footer-text-hover);
                    transition: 0.2s color ease-in-out;
                    border: 2px solid var(--green2);
                    border-radius: 25px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}
@media only screen and (max-width: 391px){
    .footer {
        width: 100%;
        height: 15rem;
        background: var(--footer);
        .footer-container {
            gap: 1rem;
            .footer-section:nth-child(1) {
                display: none;
            }
            .footer-section:nth-child(2) {
                width: 50%;
                height: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
                .footer-section-two-logo{
                    background-color: var(--footer-component);
                    width: 60%;
                    height: 60%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;
                    .footer-section-two-logo-img {
                        object-fit: cover;
                        width: 95%;
                        height: 50%;
                        margin: 0;
                        padding: 5px;
                    }
                }
                .footer-section-two-copyright {
                    width: 100%;
                    height: 35%;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .footer-copyright-text {
                        display: none;
                    }
                    .footer-copyright-text-iphone {
                        display: block;
                        font-size: 1.2rem;
                        color: white;
                        padding: 10px;
                    }
                }
            }
            .footer-section:nth-child(3) {
                height: 85%;
                width: 45%;
                .footer-section-three-block:nth-child(1) {
                    width: 95%;
                    border-radius: 20px;
                    .ft-st-two-privacy {
                        font-size: 1.5rem;
                    }
                }
                .footer-section-three-block:nth-child(2) {
                    width: 95%;
                    border-radius: 20px;
                }
                .footer-section-three-block:nth-child(3) {
                    width: 95%;
                    border-radius: 20px;
                }
            }
        }
    }
}