.picture-bg {
    width: 100%;
    height: 50rem;
    // background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    .picture-support {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .text-container {
        height: 10%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: var(--text-container);
        border-radius: 25px;
        transition: transform .5s ease;
        .text {
            color: var(--support-text);
            font-size: 3rem;
        }
    }
    .text-container:hover {
        transform: scale(1.1);
        // background-color: var(--support-hover);
    }
}
@media only screen and (max-width: 391px){
    .picture-bg {
        width: 100%;
        height: 25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        .picture-support {
            width: 100%;
            height: 100%;
            // background: var(--title);
            display: flex;
            justify-content: center;
            align-items: center;
            // .title-text {
            //     width: 90%;
            //     font-size: 2rem;
            // }
        }
        .text-container {
            width: 90%;
            margin-top: 4rem;
            .text {
                width: 90%;
                font-size: 2rem;
            }
        }
        .text-container:hover {
            transform: scale(1);
        }
    }
}