:root {
    --header: #3e5a1d;
    --headerlink: #5B2202;
    --green: #3e5a1d;
    --brown: #5B2202;
    --black: black;
    --white: white;
}
.app {
    // width: 1280px;
    // width: 1440px;
    width: 100vw;
    height: 300vh;
    max-width: 100%;
    // overflow-x: hidden;
    overflow: visible;
    background-color: #5B2202;
}