:root {
    --green: #3e5a1d;
    --brown: #5B2202;
    --black: black;
    --white: white;
    --header: #3e5a1d;
    --headerlink: #5B2202;
    --header-border: black;
    --title: #5B2202;
    --hero-bg: #3e5a1d;
    --social-container: #5B2202;
    --footer: #3e5a1d;
    --footer-component: #5B2202;
    --footer-text: white;
    --first: #5B2202;
    --second: #5B2202;
    --third: #5B2202;
    --first-about: #5B2202;
    --first-about-text-bg: #3e5a1d;
    --second-about: #5B2202;
    --second-about-text-bg: #3e5a1d;
    --third-about: #5B2202;
    --third-about-text-bg: #3e5a1d;
    --text-container: #5B2202;
    --support-text: white;
}
.app {
    // width: 1280px;
    // width: 1440px;
    width: 100vw;
    // height: 300vh;
    max-width: 100%;
    // overflow-x: hidden;
    overflow: visible;
    background-color: var(--green);
}