:root {
    --green: #3e5a1d;
    --green2: #6da34d;
    --brown: #5B2202;
    --brown2: #510d0a;
    --black: black;
    --black2: #001a23;
    --white: white;
    --white2: #f4f2f3;
    --yellow: #f3b61f;

    // --header: #3e5a1d;
    --header: #6da34d;
    // --headerlink: #5B2202;
    --headerlink: #510d0a;
    --headerlink-hover: #510d0a;
    --header-border: #f3b61f;

    --title: #510d0a;
    // --title: #f3b61f;

    // --hero-bg: #3e5a1d;
    --hero-bg: #f3b61f;

    // --social-container: #5B2202;
    --social-container: #510d0a;
    
    // --footer: #3e5a1d;
    // --footer: #6da34d;
    --footer: #f3b61f;
    // --footer-component: #5B2202;
    --footer-component: #510d0a;
    // --footer-component: #f3b61f;
    --footer-text: white;

    --first: #510d0a;
    // --first: #f3b61f;
    --second: #510d0a;
    // --second: #f3b61f;
    --third: #510d0a;
    // --third: #f3b61f;
    
    --first-about: #510d0a;
    // --first-about-text-bg: #3e5a1d;
    --first-about-text-bg: #6da34d;
    --second-about: #510d0a;
    // --second-about-text-bg: #3e5a1d;
    --second-about-text-bg: #6da34d;
    --third-about: #510d0a;
    // --third-about-text-bg: #3e5a1d;
    --third-about-text-bg: #6da34d;
    
    --text-container: #510d0a;
    --support-text: white;
    --contact: #510d0a;
    // --contact-block: #3e5a1d;
    --contact-block: #6da34d;
    --mail-text: white;
    --mail: white;
    --phone-text: white;
    --phone: white;
    --linkedin-text: white;
    --linkedin: white;
    --discord-text: white;
    --discord: white;


    --page-menu: #3e5a1d;
}
.app {
    // width: 1280px;
    // width: 1440px;
    width: 100vw;
    // height: 300vh;
    max-width: 100%;
    // overflow-x: hidden;
    overflow: visible;
    // background-color: var(--green);
    background-color: var(--yellow);
}